@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --fondo-oscuro: #D9DADF;
    --fondo-mas-oscuro: #CCCDD3;
    --contraste: #007663;
    --negro: #fff;
    --blanco: #000;
    --opacidad-baja: 0.1;
    --opacidad-alta: 1;
    --estrellas: 51, 54, 70;
}

.cambiocolor {
    --fondo-oscuro: #333646;
    --fondo-mas-oscuro: #252734;
    --fondo-claro: #F1F3FF;
    --contraste: #FFC75F;
    --negro: #000;
    --blanco: #FFF;
    --opacidad-baja: 0.1;
    --opacidad-alta: 1;
    --estrellas: 204, 205, 211;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;

}

body {
    background-color: var(--fondo-oscuro);
    color: var(--blanco);
}

.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: lawngreen;
    z-index: 98;
}

.animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

@keyframes showRight{
    100%{
width: 0;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--fondo-oscuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

#toggle,
#toggle_idioma {
    display: none;
}

.header.sticky {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    transition: .2s;
}



.logo {
    position: relative;
    width: 50px;
    height: 50px;

}

.imgyo {
    width: 180px;
}

.navbar{
    position: relative;
}

.navbar label {
    font-size: 2.7rem;
    color: var(--blanco);
    font-weight: 500;
    align-items: center;
    margin-left: 4rem;
    transition: .3s;
    text-align: center;
}

.navbar a {
    font-size: 2.2rem;
    color: var(--blanco);
    font-weight: 500;
    margin-left: 4rem;
    text-decoration: none;
    transition: .3s;
    align-items: flex-start;
}




.navbar a:hover,
.navbar a.active,
.navbar label:hover {
    color: var(--contraste);
}

#menu-icon {
    position: relative;
    font-size: 5rem;
    color: var(--blanco);
    cursor: pointer;
    display: none;
}

.rectangulo {
    width: 60px;
    height: 8px;
    margin-left: 5px;
    flex-shrink: 0;
    background-color: var(--contraste);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    z-index: 1;
    overflow: hidden;
}

h1{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    overflow: hidden;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 9.6rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 3px;
    margin-top: 70px;
}

.botones {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 41rem;
    height: 6rem;
}

.botones .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 1px;
    width: 19rem;
    height: 100%;
    background-color: var(--contraste);
    border: .2rem solid var(--contraste);
    border-radius: 1.5rem;
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--fondo-oscuro);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.botones .btn:hover {
    color: var(--contraste);
}

.botones .btn:nth-child(2) {
    background: transparent;
    color: var(--contraste);
}

.botones .btn:nth-child(2):hover {
    color: var(--fondo-oscuro);
}

.botones .btn:nth-child(2)::before {
    background: var(--contraste);

}

.botones .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--fondo-oscuro);
    z-index: -1;
    transition: .5s;
}

.botones .btn:hover::before {
    width: 100%;
}

.social {
    margin-top: 85px;

    position: relative;
    display: inline-flex;
}

.social i {
    text-decoration: none;
    font-size: 4.5rem;
    margin-right: 45px;
    color: var(--blanco);

}

.social i:hover {
    color: var(--contraste);
    transition: .3s;
}

.elguapo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.elguapo h3 {
    margin-left: 6rem;
    font-weight: 700;
    font-size: 4rem;
}

.home-content p {
    margin-top: 4rem;
    font-weight: 600;
    font-size: 2rem;
}

.mas {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    align-items: center;
}

.mas a,
.mas i {
    text-decoration: none;
    color: var(--contraste);
    font-size: 2.2rem;
    font-weight: 600;
    margin-right: 5px;
}


/* SKILLS */

.skills {
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centrado {
    width: 100%;
    align-items: center;

}

.titulo {
    text-align: center;
    margin: 3rem 0 5rem 0;
}

.titulo h1 {
    font-size: 5rem;
    padding: 2rem 0 5rem 0;
}

.contenedorcartas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.contenedorcartas .cartas {
    display: block;
    align-items: center;
    text-align: center;
    width: 35rem;
    height: 33rem;
}

.contenedorcartas .cartas h3,
.misdatos .nombre {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 3.2rem;

}

.contenedorcartas .cartas i {
    margin-top: 1rem;
    font-size: 10rem;


}

.cartas .articulos {
    display: flex;
    justify-content: center;
}

.articulos h4 {
    padding: 1rem 2rem;
    margin: .5rem;
    font-size: 2rem;
    border: 2px solid var(--contraste);
    border-radius: 8px;
}

.articulos h4:hover {
    background-color: var(--contraste);
    color: var(--fondo-oscuro);
}


/* FORMACIÓN */

.tituloformacion {
    text-align: center;
    margin: 10rem 0 5rem 0;
}

.tituloformacion h1 {
    font-size: 5rem;
    padding: 2rem 0 0rem 0;
}

.education {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 3rem;
    margin: 0 0 1.5rem 2rem;
}

.content .link {
    text-decoration: none;
    color: var(--blanco);
}

.education-column .education-box {
    border-left: .2rem solid var(--contraste);
}

.education-column .line {
    padding-bottom: .1rem;
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--contraste);
    border-radius: 10px;
    margin-bottom: 2rem;
}

.education-content .content:hover {
    outline: 2px solid var(--contraste);
}

.education-content .content .anio {
    font-size: 1.5rem;
    color: var(--blanco);
    padding-bottom: .5rem;
}

.education-content .content h3 {
    font-size: 2.5rem;
}

.education-content .content p {
    font-size: 2rem;
    padding-top: .5rem;
}

/* CONTACTO */
.contacto {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.centrado .contacto-contenido {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;

}

.contacto-contenido .misdatos {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.nombre h3 {
    text-align: center;
}

.misdatos .contenidodatos {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenidodatos .centradotexto {
    align-items: start;
}

.centradotexto .iconotexto {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 3.5rem;
}

.iconotexto h4 {
    font-size: 2.2rem;
}

.iconotexto i {
    font-size: 3.5rem;
    margin-right: 1rem;
}

.iconotexto .correo {
    margin-top: .5rem;
}

.contenidodatos .textdatos {
    width: 50rem;
    height: 15rem;
    resize: none;
}

.contenidodatos .inputdatos {
    width: 50rem;
    height: 5rem;
}


.contenidodatos .inputdatos,
.contenidodatos .textdatos {
    background-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    border-radius: 8px;
    outline: none;
    border: none;
}

.contenidodatos .inputdatos:hover,
.contenidodatos .textdatos:hover {
    outline: 3px solid #fff;
}

.contenidodatos .inputdatos:focus,
.contenidodatos .textdatos:focus {
    outline: 3px solid var(--contraste);

}

.contenidodatos .botondatos {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--contraste);
    border: .2rem solid var(--contraste);
    color: var(--fondo-oscuro);
    z-index: 1;
    transition: .5s;
    width: 50rem;
    height: 6rem;
    padding: 1rem 2rem;
    font-size: 2.6rem;
    border-radius: 8px;
    font-weight: 700;
    margin-bottom: 5rem;
}

.contenidodatos .botondatos:hover {
    color: var(--contraste);
}

.contenidodatos .botondatos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--fondo-oscuro);
    z-index: -1;
    transition: .5s;
}

.contenidodatos .botondatos:hover::before {
    width: 100%;
}

footer {
    padding: 2rem 0;
    align-items: center;
    text-align: center;
    background-color: var(--fondo-mas-oscuro);
}

footer h2 {
    font-size: 2.5rem;
    margin: 1rem;
}

footer h3 {
    font-size: 2rem;
    margin: 1rem;
}


/* RESPONSIVE */

@media (max-width: 1300px) {
    .header {
        padding: 2rem 3%;
    }

    .home {
        padding: 0 3%;
    }

    .skills {
        padding: 9rem 3% 0 3%;
    }

    .contacto {
        padding: 9rem 3% 0 3%;
    }

    .centrado .contacto-contenido {
        justify-content: space-between;

    }


    .education {
        padding: 9rem 3% 0 3%;
    }

}

@media (max-width: 1150px) {
    .home {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .home-content h1 {
        margin-top: 90px;
    }

    .home-content {
        padding: 20px;
        margin: 10px auto;
    }

    .elguapo,
    .texto,
    .mas {
        margin: 0 auto 20px auto;
    }

    .contenedorcartas {
        justify-content: center;
    }

    .titulo h1 {
        padding: 2rem 0 0rem 0;
    }

    .herramientas {
        margin-top: 3rem;
    }

}

@media (max-width: 904px) {

    .education {
        margin-bottom: 5rem;
    }

    .centrado .contacto-contenido {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }


}

@media (max-width: 750px) {

    .logo {
        width: 45px;
        height: 45px;
    }

    .header {
        background-color: var(--fondo-oscuro);
        padding: 1.2rem 3%;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        overflow: hidden;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background-color: var(--fondo-mas-oscuro);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
    }


    .navbar.active {
        transition-delay: 0s;
        left: 0;

    }

    .navbar a {
        overflow: hidden    ;
        display: block;
        font-size: 2.5rem;
        margin: 3rem 0;
    }

    .navbar label {
        margin-left: 0rem;
        display: block;
        font-size: 3rem;
        margin: 3rem 0;
        text-align: start;
    }


}

@media(max-width: 744px) {
    .herramientas {
        margin-top: 0rem;
        margin-bottom: 4rem;
    }

    .cartas {
        margin-top: 2rem;
    }
}

@media (max-width: 600px) {

    html {
        font-size: 45%;
        overflow-x: hidden;
    }

    .home {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1%;
        overflow: hidden;
    }

    .home-content h1 {
        margin-top: 60px;
    }


    .elguapo h3 {
        margin-left: 2rem;
        font-weight: 700;
        font-size: 3.7rem;
    }

    .imgyo {
        width: 130px;
    }

}

@media (max-width: 360px) {

    html {
        font-size: 33%;
    }

    .imgyo {
        width: 100px;
    }
}


/* ESTRELLAS */

.animated-section .estrella {
    position: fixed;
    width: 4px;
    height: 4px;
    background: rgb(var(--estrellas));
    border-radius: 100%;
    box-shadow: 0 0 0 2px rgba(var(--estrellas), var(--opacidad-baja)), 0 0 0 5px rgba(var(--estrellas), var(--opacidad-baja)), 0 0 5px rgba(var(--estrellas), var(--opacidad-alta));
    animation: animate 2s linear infinite;
    z-index: -1;
}

.estrella .in-viewport {
    visibility: visible;
}

.animated-section .estrella::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: .5px;
    background: linear-gradient(90deg,rgb(var(--estrellas)), transparent);
    z-index: 0;
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }

}

.estrella:nth-child(1) {
    top: 0;
    right: 83%;
    left: initial;
    animation-delay: 5s;
    animation-duration: 12s;
}

.estrella:nth-child(2) {
    top: 0;
    right: 60%;
    left: initial;
    animation-delay: 1s;
    animation-duration: 12s;
}



.estrella:nth-child(3) {
    top: 0px;
    right: 20%;
    left: initial;
    animation-delay: 1.5s;
    animation-duration: 12s;
}

.estrella:nth-child(4) {
    top: 65%;
    right: -15px;
    left: initial;
    animation-delay: 2s;
    animation-duration: 12s;
}


.estrella:nth-child(5) {
    top: 10%;
    right: -15px;
    left: initial;
    animation-delay: 4s;
    animation-duration: 12s;
}

.estrella:nth-child(6) {
    top: 0px;
    right: 37%;
    left: initial;
    animation-delay: 6s;
    animation-duration: 12s;
}


@media (max-width: 850px) {

    .animated-section .estrella::before {
        width: 100px;
    }

    .estrella:nth-child(1) {
        visibility: hidden;
    }

    .estrella:nth-child(3) {
        top: 0px;
        right: 0%;
    }

    .estrella:nth-child(4) {
        top: 75%;
        right: -15px;
    }

    .estrella:nth-child(5) {
        top: 35%;
        right: -15px;
    }

    .estrella:nth-child(6) {
        top: 0px;
        right: 20%;
    }

}


@media (max-width: 500px) {

    .estrella {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 4px;
        background: var(--blanco);
        border-radius: 100%;
        box-shadow: 0 0 0 2px rgba(var(--estrellas), var(--opacidad-baja)), 0 0 0 4px rgba(var(--estrellas), var(--opacidad-baja)), 0 0 8px rgba(var(--estrellas), var(--opacidad-alta));
        animation: animate 4s linear infinite;
        z-index: -1;
    
    }

    .estrella:nth-child(1) {
        top: 0;
        right: 83%;
        animation-delay: 5s;
    }

    .estrella:nth-child(2) {
        visibility: hidden;
        top: 0;
        right: 60%;
        animation-delay: 1s;
    }



    .estrella:nth-child(3) {
        top: 0%;
        right: 0;
        animation-delay: 0s;
    }

    .estrella:nth-child(4) {
        top: 60%;
        right: -15px;
        animation-delay: 0s;
    }


    .estrella:nth-child(5) {
        top: 40%;
        right: -15px;
        animation-delay: 3.5s;
    }

    .estrella:nth-child(6) {
        top: 0px;
        right: 50%;
        animation-delay: 5s;
    }

}